Source: libexcept
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    snapcatch2 (>= 2.13.7.1~bionic),
    snapcmakemodules (>= 1.0.35.3~bionic),
    snapdev (>= 1.1.27.0~bionic)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/libexcept

Package: libexcept-dev
Section: libdevel
Architecture: any
Depends: libexcept (= ${binary:Version}), ${misc:Depends}
Suggests: libexcept-doc
Description: Development package for the base exception handling for Snap! C++.
 This package includes the headers and all the necessary files to develop
 against the base exception handling for Snap! C++.

Package: libexcept
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libexcept-doc
Description: Base exception handling for Snap! C++.
 The libexcept library is used to handle the enhance the basic C++ exceptions
 by adding support for an automatic stack dump. This is particularly useful
 to find where the exception occurred in a large C++ project without having
 to search for hours.

Package: libexcept-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the base exception handling for Snap! C++.
 This package includes the programmer's documentation for the libexcept
 library. This gives you details on how to derive your own exceptions from
 the Snap! C++ base exceptions and benefit from the automatic stack dump.

# vim: ts=4 sw=4 et
